
{% for item in content %}

		<div class="floating-box" style="width: 25%">
		
    		<div >
    			<img src="{{item.imageUrl}}" width="50px" height="70px">
    			<div >
    			{{item.title}}
    		</div>
    		<div >
    			{{item.gender}}
    		</div>
    		<div >
    			{{item.depName}}
    		</div>
    		<div >
    			{{item.phone}}
    		</div>
    		<div >
    			{{item.email}}
    		</div>
    		<div>
    			{{item.catagory}}
    		</div>
    		</div> 		

		</div>
	
    
{% endfor %}


<style>
.floating-box {
    float: left;
    grid-auto-flow: row;  
    width: 30%;
    margin: 10px;
    border: 1px solid #73AD21;

}

</style>

